@import "katex/dist/katex.min.css";

.mdx-root:first-child {
  margin-top: 0;
}

.mdx-root {
  --block-margin-top: 1.5em;

  > p, > div, > table, > blockquote, > hr, > figure, > section {
    margin-top: var(--block-margin-top);
  }

  > a:not(.link-card-root) {
    @apply underline;
  }

  > h1+p, > h2+p, > h3+p, > h4+p, > h5+p, > h6+p {
    margin-top: .3em;
  }

  > blockquote {
    @apply border-l-4 pl-4 italic;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    font-weight: bold;
    line-height: 1.5;
  }
  > h1[id], > h2[id], > h3[id], > h4[id], > h5[id], > h6[id] {
    scroll-margin-top: 60px;
  }

  > h2 {
    font-size: 1.5em;
    margin-top: 2.3em;
    margin-bottom: 1.1rem;
  }
  > h3 {
    font-size: 1.25em;
    margin-top: 2.3em;
    margin-bottom: 1.1rem;
  }
  > h4 {
    font-size: 1.25em;
    margin-top: 2.25em;
    margin-bottom: .5em;
  }
  > h5 {
    font-size: 1.25em;
    margin-top: 2.25em;
    margin-bottom: .5em;
  }
  h6 {
    font-size: 1.25em;
    margin-top: 2.25em;
    margin-bottom: .5em;
  }

  code::before, code::after {
    content: "`";
  }

  > pre {
    code::before, code::after {
      content: none;
    }
  }

  > ul {
    @apply list-disc;
  }
  > ol {
    @apply list-decimal;
  }

  > ul, > ol {
    @apply my-[1.2em] pl-[1.8em];
  }
  > ul, > ol {
    li {
      @apply pl-[.4em] my-[.6em];
    }
  }
  > ul, > ol {
    li::marker {
      @apply text-muted-foreground;
    }
  }
}
